.heading{
  width:100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color:white;
  background-color: blueviolet;
  
}
@media screen and (max-width:500px){
  .heading{
    flex-direction: column;
  }
  h1{
    font-size: 18px;
  }
  #button{
    margin:10px;
  }
}
.input{
  margin-top: 10px;
  width:50%;
  height:100vh;
  color:black;
font-size:25px;
  margin:10px;
  padding:5px;
  overflow: scroll;
}
.output{
  margin-top: 10px;
  width:50%;
  height:100vh;
  color:black;
  border:1px solid black;
  border-radius: 10px;
  margin:10px;
  padding:5px;
  background-color: aliceblue;
  overflow: scroll;
  font-size: 25px;
}
.main{
  height:100vh;
  display:flex;
}
@media screen and (max-width:500px){
  .main{
  flex-direction: column;
  }
.output{
width:90%;
}
.input{
  width:90%;
}

}
#button {
  line-height: 12px;
  margin-top: 1px;
  margin-right: 2px;
  position:relative;
  top:0px;
  right:0px;
  margin-left: 10px;
  font-size: 20px;
}
.login{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:50%;
}
.page{
  height:100vh;
  background-color: blueviolet;
  position:relative
}

.input_terminal{
  font-size:medium;
  width:70%;
  height:40px;
  border-radius: 10px;
  margin-bottom: 10px;
}
